*, :before, :after{box-sizing: border-box;
    margin: 0;
    padding: 0;}
    body{width: 100%;
    height: 100vh;
    }
    ul{list-style-type: none;
    }
    a{text-decoration: none;
    }
     h2{
       font-size: 3rem;
       text-align: center;
       padding: 1rem 0;
     }
    header{
      position: fixed;
      top: 0;
     background-color: black;
     width: 100%;
     padding: 1rem;
     z-index: 1;
    }
    #navbar{position: fixed;
    top: 0;}
    .navbar ul{
      display: flex;
    gap: 1rem;
    justify-content: flex-end;
    }
    .navbar a{
      color: white;
      font-size: 1.5rem;
    }
    .navbar a:hover{
      color: orangered;
    }
    #welcome-section{
      width: 100%;
      height: 100vh;
      background-color: linen;
    }
    .container{
      padding: 25% 10%;
      position: relative;
    }
    #welcome-section h1{
      font-size: 3rem;
      width: 100%;
      text-align: end;
    }
    #welcome-section p{
      text-align: end;
      font-size: 1.5rem;
      padding: 5px;
    }
    .welcome-section-list{
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }
    .welcome-section-list li{
     
      text-align: end;
    }
    .welcome-section-list img{width: 80%;
     }
     .welcome-section-list img:hover{
       width: 120%;
     }
    .cat{
    width: 30%;
    height: 40%;
    position: absolute;
    top: 400px}
    .cat-head{
      width: 150px;
      height: 150px;
      border-radius: 70px 70px 30px 30px;
      background: linear-gradient(30deg, black, gray);position: absolute;
      top: 15px;
      z-index: 3;}
      .ear{
        width: 60px;
        height: 60px;
        background-color: black;
        position: absolute;
        top: 0;
      }
      .ear.right{
        border-radius: 0px 70px 0px 0px;
        transform: rotate(-10deg)
      }
      .ear.left{
        border-radius: 70px 0px 0px 0px;
        left: 90px;
        transform: rotate(10deg)
      }
      
      .cat-eye-left, .cat-eye-right{
        background-color: white;
        width: 60px;
        height: 60px;
        left: 10px;
        border-radius: 60px 50px 40px 40px;
        position: absolute;
        top: 30px;
        padding: 10px
      }
      .cat-eye-right{
        left: 70px;
        border-radius: 50px 60px 40px 40px;
      }
      .cat-eye-inner{
        width: 40px;
        height: 40px; 
        background-color: black;
        border-radius: 50%;
      }
      .cat-nose{
        width: 20px;
        height: 20px;
        background-color: pink;
        position: absolute;
        left: 60px;
        top: 80px;
        border-radius: 5px 5px 70px 70px
      }
      .cat-body{
        width: 80px;
        height: 100px;background-color: black;
    position: absolute;
    top: 150px;
    left: 35px;
      }
      .cat-neck{
        width: 50px;
        height: 30px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 20%;
    border-radius: 50px;
    filter: blur(5px);
    z-index: 2;
      }
      .cat-paw{
        width: 60px;
        height: 60px;
    background-color: black;
        position: absolute;
        top: 40px;
        
      }
      .cat-paw.left{
            left: -20px;
            border-radius: 50px 0 0 0;
      }
      .cat-paw.right{
    left: 40px;
    border-radius: 0 50px 0 0;
    background: linear-gradient(240deg, gray, black)}
     
    .tail{
      width: 20px;
      height: 200px;
      position: absolute;
      top: 40px;
      left: 150px;
      transform: rotate(30deg) skewX(20deg);
    }
    #projects{
       height: 100vh;
       }
     #projects ul{border: 1px solid;
     display: flex;
     gap: 0.5rem;
      padding: 0;
    }
    
     #projects img{
       width: 100%;
       padding: 5px;
     }
     #projects li{
       width: 100%;
       height: 100%;
     }
     #projects h3{background-color: black;
     color: white;
     padding: 4px;
     }
    #projects ul, #projects li {
        height: 100%;
    }
     #my-contacts{
       background-color: black;
       color: white;
       height: 100vh;
       width: 100%;
     }
    
     #my-contacts p{text-align: center;}
     #my-contacts ul{
       margin-top: 1rem;
       display: flex;
       justify-content: space-between;
     }
    #my-contacts img{max-width: 100%;}
    
    .container ul{padding: 1rem;
    border: 1px solid white}
    .container ul li{
      text-align: center;
      width: 70px;
      height: 70px;
    }
    li .github-logo, li .phone{
      background-color: white;
      border-radius: 50%;
      padding: 4px 6px 0 3px;
      overflow: visible;
    }
    
    @media only screen and (min-width: 900px){
      .container{
      padding: 10%;
    }
    }
    